<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>予約ページ</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/responsive.css">
  <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/64a65c6c44.js" crossorigin="anonymous"></script>
</head>

<body>
  <div class="reservation-header">
    <%- include('common/header') %>
    <%- include('common/nav') %>
  </div>
  <main>
    <div class="reservation-button">
      <a href="/reserved" id="myreservation">自分の予約一覧を見る</a>
    </div>
    <div class="reservation-top">
      <h1>予約ページ</h1>
      <h2>
        <%= month %>月
      </h2>
    </div>
    <div class="weekbutton">
      <a href="/reservation?weekOffset=<%= weekOffset - 1 %>" id="prevWeek"><<前の週</a>
      <a href="/reservation?weekOffset=<%= weekOffset + 1 %>" id="nextWeek">次の週>></a>
    </div>
  
    <table>
      <thead>
        <tr>
          <th>時間/日にち</th>
          <% Object.keys(reservations).forEach((day)=> { %>
            <% const dateObj=new Date(day); %>
              <% const formattedDay=dateObj.getDate() + '日（' + week[dateObj.getDay()] + '）' ; %>
                <th>
                  <%= formattedDay %>
                </th>
                <% }); %>
        </tr>
      </thead>
  
      <tbody>
        <% timeSlots.forEach((timeSlot)=> { %>
          <tr>
            <td>
              <%= timeSlot.slice(0, 5) %>
            </td>
  
            <% Object.keys(reservations).forEach((day)=> { %>
              <% if (reservations[day] && reservations[day][timeSlot]) { %>
                <% const reservation=reservations[day][timeSlot]; %>
                  <td class="<%= reservation.class %>" data-date="<%= reservation.dateValue %>"
                    data-time="<%= timeSlot %>">
                    <%= reservation.symbol %>
                  </td>
                  <% } else { %>
                    <td class="available" data-date="<%= day %>" data-time="<%= timeSlot %>">〇</td>
                    <% } %>
                      <% }); %>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </main>
  
  <footer>
    <%- include('common/footer') %>
  </footer>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/reservation.js"></script>
  <script src="/js/script.js"></script>
</body>

</html>
